body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  width: 420px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #3a8be0;
}

li {
  margin-top: 12px;
  background: #f4f6f8;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.concluida {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
  background: #ddd;
  color: black;
}

.actions button:hover {
  background: #bbb;
}
